.section-search input{
    padding: 5px !important;
    font-size: 18px !important;
    width: 90% !important;
    border: #f4f4f4 3px solid !important;
}
.section-follow .fa-4x{
    margin: 5px 10px;
}

nav{
    background: #fde48f;
}
li>a{
    color: #764d30 !important;
    font-weight: bolder;
    font-size: 1.6rem;
}
.brand-logo{
    color: #764d30 !important
}
p{
    color: #424242;
}